		<footer>
			<div class="pt-5 text-center text-small">
				<small>
					Copyright &copy; 2019 <%= TagUtils.title(null, true) %>. All rights reserved by respective owners.
					Built by <a href="https://github.com/W3G33K">W3G33K</a> 🤓
				</small>
			</div>
		</footer>

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<% if (subtitle === "Home") { %>
		<script type="text/javascript" src="/js/greet.js"></script>
		<% } %>
	</body>
</html>
