<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="application-name" content="<%= TagUtils.title(null, true) %>"/>
		<meta charset="UTF-8"/>
		<%- TagUtils.title(subtitle) %>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/styles.css"/>
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
				<div class="container">
					<a href="/" class="navbar-brand">
						<strong><%= TagUtils.title(null, true) %></strong>
					</a>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/books" class="nav-link">Books</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
